.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

.p-paython,
.p-csharp,
.p-JavaScript,
.p-Angular,
.p-React,
.p-Excel,
.p-PowerPoint,
.p-MVC {
    /* opacity: 0; */
    background-color: white;
    text-decoration: none;
    width: 100%;
    border: 1px black solid;
    height: 93%;
    color: black;
    display: flex;
    flex-direction: column;
    /* gap: 28px; */
    justify-content: space-evenly;
    padding: 15px;
}

.paython,
.csharp,
.JavaScript,
.Angular,
.React,
.Excel,
.PowerPoint,
.MVC {
    text-decoration: none;
    /* color: #b5a9a9; */
    font-weight: bold;
}

#description {
    color: rgb(145 145 145);
    font-size: 15px;
    font-family: fangsong;

}

.broad {
    margin-top: 30px;
    margin-left: 40px;

    margin-bottom: 36px;
}

.paython-imges {
    display: flex;

}