<nav class="navbar navbar-expand-lg navbar-light bg-light  pt-lg-1 shadow p-1 mb-0 bg-white rounded nav-container">
  <a class="navbar-brand" href="#"><img [src]="logoSource" [width]="logoWidth" [height]="logoHeight" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-div" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-around nav-ul">
      <li class="nav-item active cat-link">

        <div class="dropdown">

          <a class="dropbtn nav-link ">Categories </a>
          <div class="dropdown-content" >
            <!-- <a routerLink="/paython">Paython</a>
            <a routerLink="/csharp">C#</a>
            <a routerLink="/javascript">JavaScript</a>
            <a routerLink="/angular">Angular</a>
            <a routerLink="/react">React</a>
            <a routerLink="/mvc">MVC</a> -->
            <!-- gotocategorycourses -->
            <a routerLink="courseCategory/getcategorycourses/{{category.id}}" *ngFor="let category of categories" class="cat">{{category.name}}<i class="fa fa-light fa-arrow-right fs-6" id="arrow"></i>
              <ul class="subCat">
                <li>a</li>
                <li>b</li>
                <li>c</li>
                <li>d</li>
              </ul>
            </a>

          </div>
        </div>
      </li>
      <form class="form-inline my-2 my-lg-0  search-form">
        <div class="input-group search-group">
          <span class="input-group-btn">
            <button class="btn btn-default search-btn" type="submit">
              <i class="bi bi-search"></i>
            </button>
          </span>
          <input type="text" class="form-control search-box" placeholder="Search for...">

        </div>

      </form>




      <ng-container [ngSwitch]="login()" class="switch-container">
        <section id="after-login" *ngSwitchCase="true">

          <li class="nav-item w-20">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#">Teach On Corsat Online</a>
              <div class="dropdown-content">
                <div class="Teach-with-Us">
                  Get your team access to over 16,000 top Udemy courses, anytime, anywhere.
                  <br>
                  <button type="button" id="Learn-more" class="btn btn-dark">Learn more</button>
                </div>
              </div>
            </div>

          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#">My Learning </a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>
          </li>


          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " id="heart" href="#">&hearts; </a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#"><i class="bi bi-cart3"></i></a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>

          </li>


          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#"><i class="fa fa-bell" style="font-size:29px"></i></a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>

          </li>

          <!-- <i class='fa fa-user-circle' style='font-size:29px'></i> -->

          <li class="nav-item">
            <div class="dropdown" >


                <a class="nav-link " href="#"><img id="img-user" src="assets/images/abdelrahman.jpg" alt="" ></a>
                <div class="dropdown-content" id="user">
                  <a href="#">My Learning</a>
                  <a href="#">My Cart</a>
                  <a href="#">Wish List</a>
                  <hr>
                  <a href="#">Notifactions</a>
                  <a href="#">Messages</a>
                  <hr>
                  <a href="#">Account settings</a>
                  <a href="#">Payment Methods</a>
                  <a href="#">Corsat cridts</a>
                  <a href="#">Purchase history</a>
                  <hr>

                  <a *ngIf="login()" (click)="logout()" >Log out</a>
                </div>

            </div>

          </li>

        </section>

        <section id="before-login" *ngSwitchCase="false">
          <li class="nav-item w-20">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#">Teach with Us</a>
              <div class="dropdown-content">
                <div class="Teach-with-Us">
                  Get your team access to over 16,000 top Udemy courses, anytime, anywhere.
                  <br>
                  <button type="button" id="Learn-more" class="btn btn-dark">Learn more</button>
                </div>
              </div>
            </div>

          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#"><i class="bi bi-cart3"></i></a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>

          </li>


          <app-pre-login-nav></app-pre-login-nav>
        </section>
      </ng-container>
    </ul>
  </div>
</nav>
