<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">



<nav class="navbar navbar-expand-lg navbar-light bg-light  pt-lg-1 shadow p-1 mb-0 bg-white rounded nav-container">
  <a class="navbar-brand" href="#"><img [src]="logoSource" [width]="logoWidth" [height]="logoHeight" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse nav-div" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center justify-content-around nav-ul">
      <li class="nav-item active cat-link">

        <div class="dropdown">

          <a class="dropbtn nav-link ">Categories </a>
          <div class="dropdown-content">
            <!-- <a routerLink="/paython">Paython</a>
            <a routerLink="/csharp">C#</a>
            <a routerLink="/javascript">JavaScript</a>
            <a routerLink="/angular">Angular</a>
            <a routerLink="/react">React</a>
            <a routerLink="/mvc">MVC</a> -->
            <!-- gotocategorycourses -->
            <a routerLink="/categoryCourses/{{category.id}}" *ngFor="let category of categories"
              class="cat">{{category.name}}<i class="fa fa-light fa-arrow-right fs-6" id="arrow"></i>
              <ul>
                <li *ngFor="let course of courses"><a routerLink=""></a>{{course.name}}</li>
              </ul>
            </a>

          </div>
        </div>
      </li>
      <form class="form-inline my-2 my-lg-0  search-form" method="post" #userForm="ngForm" novalidate>
        <div class="input-group search-group">
          <span class="input-group-btn">
            <a routerLink="/search/{{searchText}}"><button class="btn btn-default search-btn">
                <i class="bi bi-search"></i>
              </button>
            </a>
          </span>
          <input type="text" name="search" [(ngModel)]="searchText" class="form-control search-box"
            placeholder="Search for...">
          <!-- <input type="text" class="form-control search-box" placeholder="Search for..."> -->
          <!-- <div class="form-group">
            <input type="text" class="form-control"name="search" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
        </div> -->

        </div>
        <!-- {{userForm.value|json}}
        {{enterSearchValue}}
        {{searchWord.valid}} -->
      </form>
      <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->




      <ng-container [ngSwitch]="login()" class="switch-container">
        <section id="after-login" *ngSwitchCase="true">

          <li class="nav-item w-20">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#">Teach On Corsat Online</a>
              <div class="dropdown-content">
                <div class="Teach-with-Us">
                  Get your team access to over 16,000 top Udemy courses, anytime, anywhere.
                  <br>
                  <button type="button" id="Learn-more" class="btn btn-dark">Learn more</button>
                </div>
              </div>
            </div>

          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " routerLink="/learning">My Learning </a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>
          </li>


          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " id="heart" href="#">&hearts; </a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <div *ngIf="countOfCourses > 0 else noCartes">
                <a class="nav-link " href="#"><i class="nn bi bi-cart3">{{countOfCourses}}</i></a>
              </div>

              <ng-template #noCartes>
                <i class="bi bi-cart3" style="font-size:29px"></i>
                <div class="dropdown-content">
                  <div class="shopping">
                    Your cart is empty.
                    <br>
                    <a id="Keep-shopping" routerLink="/listCourses">Keep shopping</a>
                  </div>
                </div>
              </ng-template>

              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>

          </li>


          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <div *ngIf="countOfCourses > 0 else noCourses">
                <a class="nav-link " routerLink="/cart"><i
                    class="bell fa fa-solid fa-bell fa-shake">{{countOfCourses}}</i></a>
              </div>
              <ng-template #noCourses>
                <i class="fa fa-bell" style="font-size:29px"></i>
                <div class="dropdown-content">
                  <div class="shopping">
                    Your cart is empty.
                    <br>
                    <a id="Keep-shopping" routerLink="/listCourses">Keep shopping</a>
                  </div>
                </div>
              </ng-template>

            </div>

          </li>

          <!-- <i class='fa fa-user-circle' style='font-size:29px'></i> -->

          <li class="nav-item">
            <div class="dropdown">


              <a class="nav-link " href="#"><img id="img-user" src="assets/images/abdelrahman.jpg" alt=""></a>
              <div class="dropdown-content" id="user">
                <a routerLink="/learning">My Learning</a>
                <a routerLink="/cart">My Cart</a>

                <hr>

                <a *ngIf="login()" (click)="logout()">Log out</a>
              </div>

            </div>

          </li>

        </section>

        <section id="before-login" *ngSwitchCase="false">
          <li class="nav-item w-20">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#">Teach with Us</a>
              <div class="dropdown-content">
                <div class="Teach-with-Us">
                  Get your team access to over 16,000 top Udemy courses, anytime, anywhere.
                  <br>
                  <button type="button" id="Learn-more" class="btn btn-dark">Learn more</button>
                </div>
              </div>
            </div>

          </li>

          <li class="nav-item">
            <div class="dropdown">
              <!-- <button class="dropbtn">Dropdown</button> -->
              <a class="nav-link " href="#"><i class="bi bi-cart3"></i></a>
              <div class="dropdown-content">
                <div class="shopping">
                  Your cart is empty.
                  <br>
                  <a id="Keep-shopping" href="/">Keep shopping</a>
                </div>
              </div>
            </div>

          </li>


          <app-pre-login-nav></app-pre-login-nav>
        </section>
      </ng-container>
    </ul>
  </div>
</nav>