<footer>
  <ul class="upper-footer-ul">
    <li><a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a></li>
    <li><a href="https://www.twitter.com"><i class="bi bi-twitter"></i></a></li>
    <li><a href="http://www.instgram.com"><i class="bi bi-instagram"></i></a></li>
    <li><a href="https://www.linkedin.com"><i class="bi bi-linkedin"></i></a></li>

  </ul>
  <ul class="lower-footer-ul">
    <li><img [src]="logoSource" [width]="logoWidth" [height]="logoHeight"/></li>
    <li><small>&copy; 2022 CoursatOnLine, Inc.</small></li>
  </ul>
</footer>
